main.bbl
main.blg
*.lof
*.lot
*.log
index.log
**/*.log
**/*.aux
**/*.lof
**/*.lot
**/*.toc
**/*.bbl
**/*.blg
**/*.out
**/*.synctex.gz
**/*.fdb_latexmk
**/*.fls
**/*.dvi
**/*.ps
**/*.pdfsync
**/*.gz
**/*.xdv
**/*.nav
**/*.snm
**/*.vrb
**/*.gz(busy)
**/*.xdv(busy)
**/*.lof(busy)
**/*.lot(busy)
**/*.bcf
**/*.run.xml
**/*.bbl
**/*.blg
*.aux
*.bkp

temp
bin
build/
img/drawio/vectors/
test1.tex
test2.tex
test.tex
*.md
*.pdf
*.acr
*.gls
*.glsdefs
*.loa
*.glg
*.sta
*.acn
*.ist
*.glo
*.alg
!1_proposal.md
!2_progress.md
!3_final.md
!README.md
.vscode/
!0_draft.md

!allpages.pdf
!main.pdf